/* Variables */
:root {
    --color-gold: #bdae82;
    --color-dark-gold: #b3994b;
    --color-black: #000000;
    --color-white: #ffffff;
    --font1: 60px;
    --font2: 40px;
    --font3: 28px;
    --font4: 24px;
    --font5: 20px;
    --font6: 18px;
    --font7: 32px;
}

/* Fonts */
/* inter-regular - latin_cyrillic */
@font-face {
    font-family: 'inter';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: local(''),
         url('../fonts/inter-v11-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v11-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
    font-family: 'inter';
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: local(''),
         url('../fonts/inter-v11-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v11-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
    font-family: 'merriweather';
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: local(''),
         url('../fonts/merriweather-v30-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/merriweather-v30-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
  max-width: 100%;
}

/* Common styles */
html {
    scroll-behavior: smooth;
}
body {
    width: 100%;
    overflow-x: hidden;
    background-color: var(--color-black);
    color: var(--color-white);
    font-size: var(--font6);
    font-family: 'inter';
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}
.section {
    padding-top: 100px;
}
.title-wrap {
    position: relative;
    width: 50%;
    margin: 0 auto 60px;
    display: flex;
    justify-content: center;
}
.title-wrap::before {
    content: '';
    width: 100%;
    height: 2px;
    background-color: var(--color-gold);
    position: absolute;
    top: 50%;
    right: 0;
}
.section-title {
    position: relative;
    display: inline-block;
    color: var(--color-gold);
    font-size: var(--font2);   
    background-color: var(--color-black); 
    padding: 0 20px;
    font-family: 'merriweather';
}
.button {
    position: relative;
    width: 220px;
    font-size: var(--font5);
    color: var(--color-black);
    background-color: var(--color-gold);
    padding: 14px 5px;
    border: none;
    cursor: pointer;
    transition: all .3s linear;
}
.button:after {
    position: absolute;
    display: block;
    content: "";
    width: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background: var(--color-dark-gold);
    transition: width ease-in-out .5s;
    z-index: 1;
}
.button:hover {
    color: var(--color-white);
}
.button:hover::after {
    width: 100%;
    left: 0;
    background: var(--color-dark-gold);
    transition: width ease-in-out .5s;
}
.button__text {
    position: relative;
    z-index: 2;
}

/* Hero and header styles */
.hero {
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px 0 240px 0;
}
.logo {
    width: 50px;
    height: 50px;
    margin-right: auto;
    background-image: url('../images/svg/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;  
    transition: all .3s linear;
}
.logo:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}
.nav {
    margin-right: 30px;
}
.nav__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.nav__link {
    position: relative;
    color: var(--color-white);
    transition: all .3s linear;
}
.nav__link:after {
    position: absolute;
    display: block;
    content: "";
    width: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    bottom: -3px;
    background: var(--color-dark-gold);
    transition: width ease-in-out .5s;
    z-index: 1;
}
.nav__link:hover {
    color: var(--color-gold);
}
.nav__link:hover::after {
    width: 100%;
    left: 0;
    background: var(--color-dark-gold);
    transition: width ease-in-out .5s;
}
.languages {
    font-size: var(--font6);
    text-transform: uppercase;
    font-weight: 700;
    margin-right: 35px;
}
.languages__item {
    cursor: pointer;
}
.languages__item_delimiter {
    margin: 0 8px;
}
.languages__item_active {
    color: var(--color-gold);
}
.theme-image {
    display: block;
    width: 35px;
    height: 35px;
    background-image: url(../images/svg/sun.svg);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    transition: all .3s linear;
}
.theme-image:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}
.hero__wrapper {
    max-width: 500px;
    padding-left: 60px;
}
.hero__title {
    font-size: var(--font1);
    line-height: 120px;
    margin-bottom: 10px;
    font-family: 'merriweather';
}
.hero__subtitle {
    line-height: 40px;
    margin-bottom: 25px;
    font-size: var(--font5);
}
.burger {
    display: none;
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 9999;
}
.burger__line {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--color-white);
    transition: all 0.3s ease-in-out;
}
.burger__line:nth-child(1) {
    top: 14px;
}
.burger__line:nth-child(2) {
    top: 26px;
}
.burger__line:nth-child(3) {
    top: 38px;
}
.burger_active {
    position: fixed;
}
.burger_active .burger__line:nth-child(2) {
    display: none;
}
.burger_active .burger__line:nth-child(1) {
    top: 20px;
    transform: rotate(45deg);
}
.burger_active .burger__line:nth-child(3) {
    top: 20px;
    transform: rotate(-45deg);
}

/* Skills styles */
.skills__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}
.skill {
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-position: center top;
    background-repeat: no-repeat;
    padding-top: 90px;
}
.skill:nth-child(1) {
    background-image: url('../images/svg/camera.svg');
    background-size: 62px 50px;
}
.skill:nth-child(2) {
    background-image: url('../images/svg/video.svg');
    background-size: 60px 50px;
}
.skill:nth-child(3) {
    background-image: url('../images/svg/image.svg');
    background-size: 66px 50px;
}
.skill:nth-child(4) {
    background-image: url('../images/svg/mic.svg');
    background-size: 32px 50px;
}
.skill__title {
    font-weight: 700;
    margin-bottom: 20px;
    font-size: var(--font5);
}
.skill__text {
    line-height: 36px;
}

/* Portfolio styles */
.portfolio__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 60px;
    gap: 10px;
}
.portfolio__button {
    position: relative;
    width: 220px;
    font-size: var(--font5);
    background-color: var(--color-black);
    color: var(--color-gold);
    border: 2px solid var(--color-gold);
    padding: 14px 5px;
    cursor: pointer;
    transition: all .3s linear;
}
.portfolio__button:before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 7px;
    bottom: -7px;
    border: 2px solid var(--color-gold);
    background-color: transparent;
    z-index: -1;
    opacity: 0;
    transition: all .3s linear;
}
.portfolio__button:hover {
    color: var(--color-white);
}
.portfolio__button:hover::before {
    opacity: 1;
}
.portfolio__button_active {
    color: var(--color-black);
    background-color: var(--color-gold);
    border: 2px solid var(--color-gold);
}
.portfolio__button_active:hover::after {
    display: none;
}
.portfolio__photos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 25px;
}
.photo {
    width: calc(100% / 3 - 17px);
    height: 560px;
    object-fit: cover;
    transition: all .3s linear;
}
.photo:hover {
    transform: scale(.96);
    opacity: .5;
}

/* Video styles */
.player {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.player__cover {
    display: block;
    width: 100%;
}
.player__button {
    position: absolute;
    background-image: url(../images/svg/play.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 130px;
    height: 130px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all .3s linear;
}
.player__button:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

/* Price styles */
.price {
    padding-bottom: 100px;
}
.price__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price-block {
    width: calc(100% / 3 - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 43px;
    border: 3px solid var(--color-gold);
}
.price-block__title {
    font-family: 'merriweather';
    margin-bottom: 20px;
    font-size: var(--font3);
}
.price-block__price {
    font-family: 'merriweather';
    color: var(--color-gold);
    font-size: var(--font4);
    margin-bottom: 20px;
}
.price-block__info {
    margin-bottom: 40px;
}
.price-block__text {
    display: block;
    line-height: 36px;
}

/* Contacts styles */
.contacts {
    background-image: url('../images/contacts.jpg');
    background-size: cover;
    background-position: center center;
    min-height: 700px;
}
.contact__inner {
    max-width: 450px;
    margin-left: auto;
    padding: 60px 20px 0 0;
}
.contact__title {
    color: var(--color-gold);
    font-size: var(--font2);
    font-family: 'merriweather';
    margin-bottom: 40px;
    text-align: left;
}
.form {
    display: flex;
    flex-direction: column;
}
.form__field {
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid var(--color-gold);
    margin-bottom: 20px;
    padding: 15.5px 20px;
    color: var(--color-gold);
    font-size: var(--font5);
    outline: none;
    font-family: inherit;
}
.form__field::placeholder {
    font-family: inherit;
    color: var(--color-gold);
    font-size: var(--font5);
}
.form__field_textarea {
    height: 100px;
    resize: none;
}
.form__field:-webkit-autofill,
.form__field:-webkit-autofill:hover,
.form__field:-webkit-autofill:focus,
.form__field:-webkit-autofill:active {
  -webkit-text-fill-color: var(--color-gold);
  transition: background-color 0s ease-in-out 9000s;
}

/* Footer styles */
.footer {
    padding: 50px 0;
}
.footer__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--font5);
}
.footer__link {
    position: relative;
    color: var(--color-white);
    transition: all .3s linear;
}
.footer__link:after {
    position: absolute;
    display: block;
    content: "";
    width: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    bottom: -3px;
    background: var(--color-dark-gold);
    transition: width ease-in-out .5s;
    z-index: 1;
}
.footer__link:hover {
    color: var(--color-gold);
}
.footer__link:hover::after {
    width: 100%;
    left: 0;
    background: var(--color-dark-gold);
    transition: width ease-in-out .5s;
}
.socials {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}
.socials__link {
    width: 32px;
    height: 32px;
    display: block;
    background-size: contain;
    background-position: center center;
    transition: all .5s ease-in-out;
}
.socials__link:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
    transform: rotate(360deg);
}
.socials__link_inst {
    background-image: url('../images/svg/inst.svg');
}
.socials__link_fb {
    background-image: url('../images/svg/fb.svg');
}
.socials__link_tw {
    background-image: url('../images/svg/tw.svg');
}
.socials__link_pin {
    background-image: url('../images/svg/pinterest.svg');
}

/* Light theme styles */
.light .logo {
    background-image: url('../images/svg/logo-dark.svg');
}
.light .title-wrap::before {
    background-color: var(--color-white);
}
.light .section-title {
    color: var(--color-white);
}
.light .button {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    color: var(--color-white);
    background-color: var(--color-black);
}
.light .hero {
    background-image: url(../images/bg-light.jpg);
}
.light .portfolio__button {
    background-color: var(--color-gold);
    color: var(--color-white);
}
.light .portfolio__button_active {
    color: var(--color-gold);
    background-color: var(--color-white);
    border: 2px solid var(--color-gold);
}
.light .contacts {
    background-image: url(../images/contacts-bg-light.jpg);
}
.light .contact__title {
    color: var(--color-white);
}
.light .form__field {
    background-color: rgba(255, 255, 255, 0.5);
    color: var(--color-white);
}
.light .form__field::placeholder {
    color: var(--color-white);
}
.light .button_light {
    color: var(--color-white);
    background-color: var(--color-gold);
}
.light .socials__link {
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(238deg) brightness(9%) contrast(100%)
}
.light .socials__link:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}
.light .theme-image {
    background-image: url(../images/svg/moon.svg);
}

/* MEDIA QUERIES */
@media (max-width: 1200px) {
    .photo {
        height: 450px;
    }
}
@media (max-width: 1038px) {
    .header {
        padding: 20px 0 140px 0;
    }
    .price__inner {
        justify-content: center;
        flex-wrap: wrap;
        gap: 50px 20px;
    }
    .price-block {
        width: calc(100% / 2 - 20px);
    }
    .photo {
        width: calc(100% / 2 - 17px);
        height: 560px;
    }
    .portfolio__photos {
        flex-wrap: wrap;
    }
}
@media (max-width: 934px) {
    .portfolio__buttons {
        max-width: 450px;
        margin: 0 auto 60px;
    }
}
@media (max-width: 860px) {
    .hero {
        max-height: 590px;
    }
    .header {
        padding: 20px 0 100px 0;
    }
    .skill {
        width: 300px;
    }    
    .skills__inner {
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
}
@media (max-width: 768px) {
    .container {
        padding: 0;
    }
    .hero {
        padding: 0 60px;
    }
    .hero__wrapper {
        padding-left: 0;
    }
    .nav {
        position: fixed;
        background-color: var(--color-black);
        width: 100%;
        max-width: 480px;
        height: 100%;
        padding: 90px 0 0 70px;
        font-size: 35px;
        margin-right: 0;
        top: 0;
        right: 0;
        z-index: 9996;
        transform: translate(800px);
        transition: transform .5s linear;
    }
    .nav_active {
        transform: translate(0);
    }
    .burger {
        display: block;
        position: fixed;
    }
    .nav__list {
        flex-direction: column;
        align-items: flex-start;
    }
    .languages {
        margin-right: 23px;
    }
    .theme-image {
        margin-right: 70px;
    }
    .hero__title {
        font-size: var(--font7);
        line-height: 64px;
    }
    .hero__subtitle {
        font-size: var(--font5);
        line-height: 24px;
        margin-bottom: 60px;
        max-width: 390px;
    }
    .section {
        padding-top: 80px;
    }
    .section-title {
        font-size: var(--font7);
    }
    .title-wrap {
        width: 56.2%;
        margin: 0 auto 50px;
    }
    .skill {
        padding-top: 80px;
    }
    .skill__text {
        line-height: 21px;
    }
    .skills__inner {
        gap: 76px 20px;
    }
    .portfolio__photos {
        justify-content: center;
    }
    .photo {
        width: 100%;
        max-width: 450px;
        height: 560px;
    }
    .player__cover {
        height: 418px;
        object-fit: cover;
    }
    .player__button {
        width: 75px;
        height: 75px;
    }
    .price-block {
        width: 100%;
        max-width: 420px;
    }
    .contact__inner {
        margin: 0 auto;
    }
    .contact__title {
        text-align: center;
        font-size: var(--font7);
    }
    .button_contacts {
        margin: 0 auto;
    }
    .contacts {
        min-height: 700px;
    }
    .footer {
        padding: 28px 0;
    }
    .footer__inner {
        flex-direction: column;
    }
    .footer__block {
        margin-bottom: 20px;
    }
}
@media (max-width: 540px) {
    .hero {
        padding: 0 30px;
        max-height: 500px;
    }
    .header {
        padding: 20px 0 50px 0;
    }
    .hero__subtitle {
        max-width: 300px;
    }
    .burger {
        width: 35px;
    }
    .photo {
        max-width: 400px;
        height: 500px;
    }
    .price__inner {
        gap: 20px;
    }
    .contacts {
        background-position: -156px 0;
    }
}
@media (max-width: 480px) {
    .hero {
        background-position: 15% 100%;
    }
    .section {
        padding-top: 50px;
    }
    .contact__inner {
        padding: 30px 20px 0 0;
    }
    .contacts {
        min-height: 500px;
    }
    .light .contact__title {
        color: var(--color-gold);
    }
    .nav {
        width: 100%;
        padding: 100px 0 0 50px;
    }
}
@media (max-width: 420px) {
    .title-wrap {
        width: 80%;
    }
    .portfolio__buttons {
        margin: 0 auto 30px;
    }
    .photo {
        max-width: 300px;
        height: 400px;
    }
    .player__cover {
        height: auto;
    }
    .price-block {
        max-width: 300px;
    }
    .contact__inner {
        padding: 30px 20px 0 20px;
    }
    .theme-image {
        margin-right: 50px;
    }
    .languages {
        margin-right: 16px;
    }
}
@media (max-width: 360px) {
    .hero {
        background-position: 0% 100%;
    }
    .logo {
        width: 40px;
        height: 40px;
    }
}